$font-primary: "Press Start 2P", cursive;
$font-secondary: "Roboto Condensed", sans-serif;

$color-primary: #ffffff;
$color-secondary: #007d06;
$color-tertiary: #916411;
$color-black: #000000;
$color-gray: #919191;
$color-gray-light: #d3d3d3;
$color-background: #232323;
$color-background-dark: #111111;
