<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta
      name="description"
      content="Small game to practice your typing skills!"
    />

    <title>Typer Race! | Help!</title>

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../favicon-16x16.png"
    />
    <link rel="manifest" href="../site.webmanifest" />

    <!-- External CSS -->
    <link href="https://unpkg.com/sanitize.css" rel="stylesheet" />

    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Condensed:ital,wght@0,700;1,300;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body class="container">
    <div class="text-content">
      <h1 class="text-content__heading">How to play</h1>
      <ol class="text-content__rules">
        <li>Type "start" in the text box to start the game</li>
        <li>
          You know have 15 seconds to play. Type out each word as fast as you
          can
        </li>
        <li>For each word you get correctly, you get 1 extra second.</li>
        <li>Try to beat your own highscore!</li>
      </ol>
      <div class="information">
        <a class="information__links" href="../index.html">Go back!</a>
      </div>
    </div>
    <script src="./js/script.js" type="application/javascript"></script>
  </body>
</html>
